@font-face {
  font-family: "SFProRegular";
  src: URL("/asset/font/SFPRODISPLAYREGULAR.OTF") format("truetype");
}
@font-face {
  font-family: "SFProMedium";
  src: URL("/asset/font/SFPRODISPLAYMEDIUM.OTF") format("truetype");
}
@font-face {
  font-family: "SFProBold";
  src: URL("/asset/font/SFPRODISPLAYBOLD.OTF") format("truetype");
}




body, h1, h2,h3,h4,h5,h6 {
  font-family: "SFProRegular" !important;
}

@media only screen and (min-width: 1200px) {
  /* .nav-item > .nav-link {
    padding: 5px 20px !important;
    display: block !important;
  } */
}

@media only screen and (max-width: 768px) {
  .team-aaron-desc{
    font-size: 18px !important;
  }

  .team-karen-desc{
    font-size: 18px !important;
  }

  .team-farrel-desc{
    font-size: 18px !important;
  }

  .farrel-img{
    margin-top: 5% !important;
  }

  .photo-img-3{
    margin-top: 5% !important;
  }

  .photo-homebaked{
    height: 0 !important;
  }

  .photoboxof{
    height: 0 !important;
  }
    
  .header-inner {
    background-color: white !important;
  }
  .nav-item > .nav-link {
    color: black !important;
  }
  .logo {
    color: #000 !important;
    font-weight: 600 !important;
  }

  .team-farrel{
    text-align: center !important;
  }

  .team-farrel-desc{
    padding-top: 3% !important;
    text-align: center !important;
  }

  .team-karen{
    text-align: center !important;
    
  }

  .team-karen-desc{
    padding-top: 3% !important;
    text-align: center !important;
  }

  .team-aaron{
    text-align: center !important;
  }

  .team-aaron-desc{
    padding-top: 3% !important;
    text-align: center !important;
  }

  .offering{
    text-align: center !important;
  }

  #home {
    padding-top: 1% !important;
  }

  .portfolio-headline-header{
    font-size: 42px !important;
    text-align: center !important;
  }

  .client-headline-header{
    font-size: 25px !important;
    text-align: left !important;
  }

  .headline-header{
    font-size: 105px !important;
    text-align: left !important;
  }

  .headline-header-2{
    font-size: 105px !important;
    text-align: center !important;
  }

  .subtitle-header{
    font-size: 34px !important;
  }

  .subtitle-header-2{
    font-size: 22px !important;
  }

  .subtitle-about-uss{
    text-align: center !important;
    padding: 2rem 0 0.5rem 0 !important;
  }

  .subtitle-about-us{
    text-align: center !important;
    font-size: 32px !important;
  }

  .subtitle-about-us-2{
    text-align: center;
    font-size: 18px !important;
    
  }

  .solution{
    text-align: center !important;
    font-size: 26px !important;
  }

  /* .subtitle-about{
    text-align: left !important;
  } */

  .desc-misi{
    font-size: 18px !important;
  }


  .button-booking{
    font-size: 26px !important;
    background: #5192B7;
    color: #F0F0F0;
    font-weight: 700 !important;
    border-radius: 30px !important;
  }

  .footer-flashspree{
    font-size: 24px !important;
  }

  .follow{
    font-size: 18px !important;
  }

  .img-raised{
    width: 10% !important;
  }

  .booking-offer{
    font-family: 'SFProRegular';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 95px;
    letter-spacing: 0.01em;
    color: #404040;
  }

  .button-booking{
    font-size: 36px;
    background: #5192B7;
    color: #F0F0F0;
    font-weight: 700;
    border-radius: 30px;
  }
  .portfolio-show{
    padding-top: 0rem !important;
  }
}

.portfolio-show{
  padding-top: 1rem;
  text-align: center;
}

hr {
  padding: 1px 0;
  display: block;
  position: absolute;
  right: 0;
  max-width: 100%;
  width: 100%;
  background: #fff;
  opacity: 0.7 !important;
  }

.slider-scholarship {
  background-color: #233872;
  border-radius: 10px;
  color: #fff;
  padding: 0px;
}

.content-banner .main-img {
  width: 80%;
  position: relative;
  z-index: 1;
  margin: 0px 0px 12px;
}

.btn {
  border-radius: 27px;
  padding: 13px 27px;
}


/* .navbar-brand {
  transform: translateX(0%);
  left: 5%;
  position: absolute;
} */

.navbar {
  position: relative;
  background-color: #ffffff;
}

#home {
  background: #FFFFFF;
  padding-bottom: 2%;
  height: auto;
  top: 0;
  /* margin-top: -65px;
  padding-top: 10%; */
}

#about-us {
  background: linear-gradient(180deg, #85387E 0%, rgba(0, 16, 71, 0.54) 99.98%, #5192B7 99.99%);
  padding-bottom: 2%;
  height: auto;
  top: 0;
}

#our-team {
  background: #FFFFFF;
  background-size: cover;
  padding-bottom: 2%;
  height: auto;
  top: 0;
}

.middle-pict{
  display: flex;
  align-items: center;
}

.photo-img-3{
  margin-top: 5% !important;
}

.photoboxof{
  /* height: ; */
}

.booking{
  background: #F4BEEF;
  border-radius: 35px;
}

.booking-offer{
  font-family: 'SFProRegular';
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 95px;
  letter-spacing: 0.01em;
  color: #404040;
}

.client-headline-header {
  font-family: "SFProBold";
  display: block;
  font-size: 32px;
  color: #5192B7;
  font-weight: 800;
  padding-bottom: 0% !important;
  text-align: left;
}

.portfolio-headline-header {
  font-family: "SFProBold";
  display: block;
  font-size: 52px;
  color: #85387E;
  font-weight: 800;
  padding-bottom: 0% !important;
  text-align: center;
}

.headline-header {
  font-family: "SFProBold";
  display: block;
  font-size: 130px;
  color: #85387E;
  font-weight: 800;
  padding-bottom: 0% !important;
}

.headline-header-2{
  font-family: "SFProBold";
  font-size: 130px;
  color: #5192B7;
  font-weight: 800;
  padding-top: -5px !important;
}

.subtitle-header {
  font-family: "SFProBold";
  font-size: 40px;
  color: #000000;
  font-weight: 800;
}

.subtitle-header-2{
  color: #404040;
  font-size: 34px;
  font-weight: 700;
}

.portfolio-header{
  justify-content: center;
  text-align: center;
}

.subtitle-about{
  justify-content: center;
  text-align: center;
  padding-bottom: 3%;
}

.visi-misi{
  justify-content: center;
  text-align: center;
}

.team-farrel{
  justify-content: center;
  text-align: left;
  align-items: center;
  padding-top: 2%;
}

.team-karen{
  justify-content: center;
  text-align: left;
  align-items: center;
}

.team-aaron{
  justify-content: center;
  text-align: left;
  align-items: center;
}

.offering{
  justify-content: center;
  text-align: left;
  align-items: center;
}

.subtitle-our-team{
  font-family: "SFProBold";
  font-size: 52px;
  color: #404040;
  font-weight: 700;
}

.subtitle-about-uss{
  padding: 1rem 0 2rem 0;
}

.subtitle-about-us{
  font-family: "SFProBold";
  font-size: 52px;
  color: #F0F0F0;
  font-weight: 700;
}

.subtitle-portfolio{
  font-family: "SFProBold";
  font-size: 62px;
  color: #F0F0F0;
  font-weight: 700;
}

.subtitle-about-us-2{
  font-family: "SFProRegular";
  font-size: 32px;
  color: #F0F0F0;
  font-weight: 500;
  letter-spacing: 0.05em;
}

.splider{
  align-items: center;
  display: flex;
}

.header-misi {
  padding: 10% 0 2% 0;
  font-family: 'SFProRegular';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0.07em;
  color: #F0F0F0;
}

.desc-misi{
  font-family: 'SFProRegular';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  text-align: center;
  color: #F0F0F0;
  letter-spacing: 0.05em;
}

.team-farrel-header{
  font-family: 'SFProRegular';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #5192B7;
}

.team-farrel-position{
  font-family: 'SFProRegular';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 25px;
  letter-spacing: 0.05em;
  color: #85387E;
}

.team-farrel-desc{
  font-family: 'SFProRegular';
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  text-align: left;
  color: #404040;
  letter-spacing: 0.05em;
  padding-top: 3%;
}


.team-karen-header{
  font-family: 'SFProRegular';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #5192B7;
}

.team-karen-position{
  font-family: 'SFProRegular';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 25px;
  letter-spacing: 0.05em;
  color: #85387E;
}

.team-karen-desc{
  font-family: 'SFProRegular';
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  text-align: left;
  color: #404040;
  letter-spacing: 0.05em;
  padding-top: 3%;
}

.team-aaron-header{
  font-family: 'SFProRegular';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #5192B7;
}

.team-aaron-position{
  font-family: 'SFProRegular';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 25px;
  letter-spacing: 0.05em;
  color: #85387E;
}

.team-aaron-desc{
  font-family: 'SFProRegular';
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  text-align: left;
  color: #404040;
  letter-spacing: 0.05em;
  padding-top: 3%;
}

.logo {
  font-family: "SFProBold";
  font-size: 25px;
  color: #6A6A6A;
}

.button-booking{
  font-size: 36px;
  background: #5192B7;
  color: #F0F0F0;
  font-weight: 700;
  border-radius: 30px;
}

.button-booking:hover {
  background: #85387E;
  color: #F0F0F0;
  font-weight: 700;
}


.button-nav{
  font-size: 18px;
  background: #5192B7;
  color: #F0F0F0;
  font-weight: bold;
}

.button-nav:hover {
  background: #85387E;
  color: #F0F0F0;
  font-weight: bold;
}

.nav-item{
  padding-left: 1rem;
}

.nav-item .nav-link {
  font-family: "SFProBold";
  display: block;
  line-height: 36px;
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 500;
  color: #5192B7;
  transition: 0.15s;
}

.nav-item .nav-link:hover {
  color: #85387E;
}

.nav-item:active {
  color: #85387E;
}

.header-btn {
  color: #ffffff;
  border-radius: 30px;
  background-color: gray;
  border: none;
  font-weight: 500;
  outline: none;
  font-size: 15px;
  padding: 7px 22px;
  transition: 0.5s;
}

.header-btn:hover {
  background-color: #fe4066;
  cursor: pointer;
}

.navbar-scroll {
  background-color: #ffffff;
  position: fixed;
  top: 0;
  z-index: 99;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
  transition-duration: 0.6s;
}

.navbar-scroll .nav-item .nav-link {
  color: #233872;
}

.navbar-scroll .nav-item .nav-link:hover {
  color: #fcae42;
}

.navbar-scroll .header-btn {
  color: #ffffff;
  background-color: #fcae42;
}

.navbar-scroll .logo {
  color: #000;
  font-weight: 500;
}

section {
  background-color: white;
  padding: 2rem 0rem 2rem;
}


.footer-desc{
  color: #ffffff;
}

footer {
  padding: 1% 2% 1% 2%;
  background: #000A2D;
  color: #FFFFFF;
}

.footer-flashspree{
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
}

.follow{
  font-family: 'Ivy Mode';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
}
